bazel-*

/.aswb/
/.idea/
*.idea/
*__pychache__/
**/__pychache__/
*/**/__pychache__/
*/*/__pychache__/
*__pycache__/
model/
examples/android/TFliteCppApp/assets/classification/DenseNet121_imagenet_224.tflite
examples/android/TFliteCppApp/assets/classification/DenseNet121_imagenet_quant_224.tflite
examples/android/TFliteCppApp/assets/classification/InceptionV3_imagenet_299.tflite
examples/android/TFliteCppApp/assets/classification/InceptionV3_imagenet_quant_299.tflite
examples/android/TFliteCppApp/assets/classification/MobileNetV1_imagenet_224.tflite
examples/android/TFliteCppApp/assets/classification/MobileNetV1_imagenet_quant_224.tflite
examples/android/TFliteCppApp/assets/classification/MobileNetV2_imagenet_224.tflite
examples/android/TFliteCppApp/assets/classification/MobileNetV2_imagenet_quant_224.tflite
examples/android/TFliteCppApp/assets/classification/MobileNetV3_Large_imagenet_224.tflite
examples/android/TFliteCppApp/assets/classification/MobileNetV3_Large_imagenet_quant_224.tflite
examples/android/TFliteCppApp/assets/classification/MobileNetV3_Small_imagenet_224.tflite
examples/android/TFliteCppApp/assets/classification/MobileNetV3_Small_imagenet_quant_224.tflite
examples/android/TFliteCppApp/assets/classification/NASNetMobile_imagenet_224.tflite
examples/android/TFliteCppApp/assets/classification/NASNetMobile_imagenet_quant_224.tflite
examples/android/TFliteCppApp/assets/classification/ResNet50V1_imagenet_224.tflite
examples/android/TFliteCppApp/assets/classification/ResNet50V1_imagenet_quant_224.tflite
examples/android/TFliteCppApp/assets/classification/ResNet50V2_imagenet_224.tflite
examples/android/TFliteCppApp/assets/classification/ResNet50V2_imagenet_quant_224.tflite
bin/
model/ConvertedMoels/
data/trace_imagenet2012_1
data/trace_imagenet2012_100
